:root {

/* -------------------------------------------------------------------------------------------------------- */
/*                                              Primary Swatch                                              */
/* -------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------- hex ------------------------------------------------- */
    --Primary-1-hex: #5E251F;
    --Primary-2-hex: #9E3F34;
    --Primary-3-hex: #C74F41;
    --Primary-4-hex: #DE5849;
    --Primary-5-hex: #EB5D4D;

/* ------------------------------------------------- rgba ------------------------------------------------- */
    --Primary-1-rgb: 94, 37, 31;      // rgba(94, 37, 31, 1)
    --Primary-2-rgb: 158, 63, 52;     // rgba(158, 63, 52, 1)
    --Primary-3-rgb: 199, 79, 65;     // rgba(199, 79, 65, 1)
    --Primary-4-rgb: 222, 88, 73;     // rgba(222, 88, 73, 1)
    --Primary-5-rgb: 235, 93, 77;     // rgba(235, 93, 77, 1)

/* ------------------------------------------------- hsla ------------------------------------------------- */
    --Primary-1-hsl: 5, 50, 24;       // hsla(5, 50, 24, 1)
    --Primary-2-hsl: 6, 50, 41;       // hsla(6, 50, 41, 1)
    --Primary-3-hsl: 6, 54, 51;       // hsla(6, 54, 51, 1)
    --Primary-4-hsl: 6, 69, 57;       // hsla(6, 69, 57, 1)
    --Primary-5-hsl: 6, 79, 61;       // hsla(6, 79, 61, 1)

/* -------------------------------------------------------------------------------------------------------- */
/*                                                Base Color                                                */
/* -------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------- hex ------------------------------------------------- */
    --Base-1-hex: #222222;
    --Base-2-hex: #333333;
    --Base-3-hex: #888888;
    --Base-4-hex: #DDDDDD;
    --Base-5-hex: #EEEEEE;

/* ------------------------------------------------- rgba ------------------------------------------------- */
    --Base-1-rgb: 34, 34, 34;          // rgba(34, 34, 34, 1)
    --Base-2-rgb: 51, 51, 51;          // rgba(51, 51, 51, 1)
    --Base-3-rgb: 136, 136, 136;       // rgba(136, 136, 136, 1)
    --Base-4-rgb: 221, 221, 221;       // rgba(221, 221, 221, 1)
    --Base-5-rgb: 238, 238, 238;       // rgba(238, 238, 238, 1)

/* ------------------------------------------------- hsla ------------------------------------------------- */
    --Base-1-hsl: 0, 0, 13;            // hsla(0, 0, 13, 1)
    --Base-2-hsl: 0, 0, 20;            // hsla(0, 0, 20, 1)
    --Base-3-hsl: 0, 0, 53;            // hsla(0, 0, 53, 1)
    --Base-4-hsl: 0, 0, 86;            // hsla(0, 0, 86, 1)
    --Base-5-hsl: 0, 0, 93;            // hsla(0, 0, 93, 1)

/* -------------------------------------------------------------------------------------------------------- */
/*                                            Environment Colors                                            */
/* -------------------------------------------------------------------------------------------------------- */
    --primary-color: var(--Primary-4-hex);
    --primary-color-rgb: var(--Primary-4-rgb);
    --background-color: var(--Base-5-hex);
    --background-color-rgb: var(--Base-5-rgb);
    --alternate-background-color: #EBEBEB;
    --opposite-color: var(--Base-1-hex);
    --alternate-opposite-color: var(--Base-2-hex);
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--Base-1-hex);
        --background-color-rgb: var(--Base-1-rgb);
        --opposite-color: var(--Base-5-hex);
        --alternate-background-color: var(--Base-2-hex);
        --alternate-opposite-color: var(--Base-4-hex);
    }
}