@mixin user-select-none {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

@mixin shared-shadow {
    box-shadow: 2px 2px 10px 0 #0002;
}

@mixin smaller-shadow {
    box-shadow: 1px 1px 5px 0 #0001;
}

@mixin bigger-shadow {
    box-shadow: 3px 3px 15px 0 #0003;
}

@mixin blur-background {
    background: rgba(var(--background-color-rgb), 0.6);
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}