@mixin noscript-style {
    noscript .noscript-content {
        background: var(--background-color);
        padding: 20px;
        border-radius: 10px;
        margin-top: 30px;
        position: absolute;
        right: 0;
        z-index: 2;

        &::before {
            content: '';
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            z-index: -1;
            background: rgba(var(--primary-color-rgb), 0.3);
            border-radius: 10px;
        }

        h1 {
            font-size: 2em;
            text-align: left;
            margin-bottom: 20px;
            white-space: normal;
            word-wrap: normal;
        }

        @media screen and (max-width: 440px) {
            h1 {
                font-size: 1.7em;
            }
        }

        @media screen and (max-width: 350px) {
            h1 {
                font-size: 1.3em;
            }
        }
    }

    @media screen and (max-width: 750px) {
        noscript .noscript-content {
            margin: 30px 20px 0 20px;
        }
    }
}