@mixin search-and-filter-style {
    html .projects-filter-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        margin-top: 40px;
        width: 100%;

        #nameTFContainer {
            position: relative;
            // background: var(--alternate-background-color);
            // @include shared-shadow();
            // border-radius: 10px;
            // border-bottom: 2px solid rgba(var(--primary-color-rgb), 0.3);
            margin: 0 10px;
            flex-grow: 100;
            height: 28px;

            input {
                width: 100%;
                height: 100%;
                background: transparent;
                padding: 0 4px;
                border: none;
                outline: none;
                @include paragraph-style();

                &.label-hidden::placeholder {
                    opacity: 0;
                }
            }

            &[data-label]::before {
                content: attr(data-label);
                position: absolute;
                @include paragraph-style();
                padding: 0 4px;
                color: rgba(var(--opposite-color-rgb), 0.8);
                pointer-events: none;
                transform: scale(1) translate(0);
                transform-origin: left top;
                transition: all 0.2s ease;
            }

            &.has-input::before, &:focus-within::before {
                transform: scale(0.75) translateY(-30px);
            }

            &:focus-within::before {
                color: var(--primary-color);
            }

            // &::after {
            //     content: "";
            //     background: rgba(var(--primary-color-rgb), 0.3);
            //     position: absolute;
            //     left: 0;
            //     right: 0;
            //     bottom: 0;
            //     height: 10px;
            //     z-index: -1;
            //     transform-origin: left;
            //     transform: scaleX(0);
            //     transition: transform 0.2s ease;
            // }

            // &:focus-within::after {
            //     transform: scaleX(1);
            // }

            &::after {
                content: "";
                bottom: 0;
                width: 100%;
                height: 4px;
                opacity: 0.8;
                left: 0;
                position: absolute;
                z-index: -1;
                background: var(--primary-color);
                transition: height 0.2s ease,
                            opacity 0.2s ease;
            }
        
            &:focus-within::after, &:hover::after {
                height: 60%;
                opacity: 0.2;
            }
        }


        button {
            @include paragraph-style();
            background: transparent;
            outline: none;
            border: none;
            @include link-style();
        }
    }
}