@use 'mixins.scss';

tags-window {
    $transition-duration: 0.2s;
    $transition-timinig-function: cubic-bezier(.26,1.6,.61,1);

    .overlay {
        z-index: 10;
        display: none;
        opacity: 0;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        // background: rgba(var(--opposite-color-rgb), 0.3);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        transition: opacity $transition-duration ease,
                    backdrop-filter $transition-duration ease,
                    -webkit-backdrop-filter $transition-duration ease;
    }

    .window {
        position: fixed;
        top: 10px;
        left: 10px;
        width: 350px;
        max-height: calc(100% - 40px);
        background: var(--alternate-background-color);
        @include bigger-shadow();
        border-radius: 20px;
        z-index: 11;

        opacity: 0;
        display: none;
        transform: scale(0);
        transition: opacity $transition-duration ease;

        padding: 10px 5px;

        .title-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            margin: 5px 10px 10px 10px;

            h2 {
                font-size: 1.4em;
            }

            button {
                background: transparent;
                outline: none;
                border: none;
                @include paragraph-style();
                @include link-style();
                opacity: 0;
                transition: opacity 0.2s ease;
                
                &.shown {
                    opacity: 1;
                }
            }
        }

        .tags-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;

            tag-element {
                width: 150px;
                margin: 5px 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                cursor: pointer;

                label {
                    margin-left: 10px;
                    @include paragraph-style();
                    @include user-select-none();
                    pointer-events: none;
                    display: block;
                    width: 100%;
                    transition: opacity 0.2s ease;
                }

                input[type='checkbox'] {
                    pointer-events: none;
                }

                &.dimmed label {
                    opacity: 0.6;
                }
            }
        }
    }

    &.display-shown {
        .overlay, .window {
            display: block;
        }
    }

    &.shown {
        .overlay {
            $blur-amount: 20px;

            opacity: 1;
            backdrop-filter: blur($blur-amount);
            -webkit-backdrop-filter: blur($blur-amount);
        }

        .window {
            opacity: 1;
            transform: scale(1);

            transition: opacity $transition-duration ease,
                        transform $transition-duration $transition-timinig-function;
        }
    }

    &.opacity-hidden {
        opacity: 0;
    }
}
