@use 'mixins.scss';

tags-window {
    $transition-duration: 0.2s;

    .overlay {
        z-index: 5;
        display: none;
        opacity: 0;
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
        // background: rgba(var(--opposite-color-rgb), 0.3);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        transition: opacity $transition-duration ease,
                    backdrop-filter $transition-duration ease,
                    -webkit-backdrop-filter $transition-duration ease;
    }

    .window {
        position: fixed;
        top: 10px;
        left: 10px;
        width: 350px;
        max-height: calc(100% - 40px);
        background: var(--alternate-background-color);
        @include bigger-shadow();
        border-radius: 20px;
        z-index: 6;

        opacity: 0;
        display: none;
        transform: scale(0);
        transition: opacity $transition-duration ease;

        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px 5px;

        h2 {
            margin: 5px 10px 10px 10px;
        }

        tag-element {
            width: 150px;
            margin: 5px 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;

            label {
                margin-left: 10px;
                @include paragraph-style();
                @include user-select-none();
                pointer-events: none;
            }

            input[type='checkbox'] {
                pointer-events: none;
            }
        }
    }

    &.display-shown {
        .overlay {
            display: block;
        }

        .window {
            display: flex;
        }
    }

    &.shown {
        .overlay {
            $blur-amount: 20px;

            opacity: 1;
            backdrop-filter: blur($blur-amount);
            -webkit-backdrop-filter: blur($blur-amount);
        }

        .window {
            opacity: 1;
            transform: scale(1);

            $transition-timinig-function: cubic-bezier(.26,1.6,.61,1);
            transition: opacity $transition-duration ease,
                        transform $transition-duration $transition-timinig-function;
        }
    }
}
